@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    font-size: 16px;
}

.container {
    height: 5rem;
    /*background-color: #bde0fe;*/
}

#logo {
    width: 4rem;
    opacity: 0.8;
}

.container-header {
    padding-top: 0.5rem;
    /*color: #6a7da0;*/
    color: #3a86ff;

    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

body {
    text-align: center;
    background-color: white;  
}

#h1 {
    color: rgb(129, 196, 255);
    opacity: 0.7;
}

.container-body {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin-top: 15rem;
}

#but {
    margin-top: 5rem;
    font-size: 2rem;
}

a {
    color: rgb(0, 136, 255);
    opacity: 0.7;
    transition: 0.2s;
}

a:hover {
    color: black;
    transition: 0.2s;
}

.fo {
    margin-top: 8rem;
    opacity: 0.3;
}

/* Start writing your CSS here!*//* Start writing your CSS here!*//* Start writing your CSS here!*//* Start writing your CSS here!*/