@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    font-size: 16px;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#pdp {
    border-radius: 100%;
    height: 5rem;
}

.container {
    display: flex;
    gap: 8rem;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#text {
    width: 50%;
}

.user {
    margin-top: -243rem;
    margin-left: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    
}

#at {
    margin-top: 0.5rem;
    opacity: 0.5;
}

#text {
    word-break: inherit;
    line-height: 1.5rem;
    width: 100%;
}

#arrow {
    height: 3rem;
    margin-bottom: -120rem;
}

#title {
    font-size: 4rem;
    text-align: center;
}

.aro {
    margin-right: 5%;
}

.blog {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.all {
    margin-top: 5rem;
}

.container-head {
    height: 5rem;
}

#logo {
    width: 4rem;
    opacity: 0.8;
}

.container-header {
    padding-top: 0.5rem;
    /*color: #6a7da0;*/
    color: #3a86ff;

    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#pic {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 15rem;
}

#pic-large {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 30rem;
}

a {
    color: rgb(0, 136, 255);
    opacity: 0.7;
    transition: 0.2s;
}

a:hover {
    color: black;
    transition: 0.2s;
}

.container-button {
    margin-top: 0.5rem;
}

#prof {
    color: rgb(0, 0, 0);
    
}


#title-text {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#text-space {
    margin-top: 2rem;
    margin-bottom: 2rem;
    word-break: inherit;
    line-height: 1.5rem;
    width: 100%;
}

#text-center {
    text-align: center;
}

#surlign {
    font-weight: bold;
}

#publish {
    margin-top: 0.5rem;
    opacity: 0.5;
    word-break: break-all;
    line-height: 1.5rem;
    width: 100%;
}

#sub-title-text {
    opacity: 0.3;
    margin-bottom: 1rem;
}

#x-topics {
    background-color: #c9deff;
    text-align: center;
    color: white;
    border-radius: 100px;
    width: 6rem;
    transition: 0.2s;
}

.topics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#x-topics:hover {
    transform: scale(1.1);
}

#dl {
    margin-right: 1rem;
    /*
    width: 5rem;*/
}

#dll {
    width: 3rem;
}

.compo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    background-color: #c9deff;
    border-radius: 0.5rem;
    transition: 0.2s;
}

.compo:hover {
    transform: scale(1.1);
}